<%= form_for [:admin, @post] do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>-->
        <% post.errors.each do |error| %>
          <div class="alert alert-danger alert-dismissible" role="alert">
              <%= error.full_message %> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="field mb-3">
    <%= form.text_area :body, class: "form-control", placeholder: "Content" %>
  </div>

  <div class="field mb-3">
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
